
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="ISO-8859-1">
  <title>Login Form</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="wrapper">
    <div class="title"><span>Login Form</span></div>
    <form th:action="@{/login}" th:object="${loginForm}" method="post">
      <p th:if="${error}" class="error">Email & Password Incorrect</p>
      <div class="row">

        <input type="username" name="username">
      </div>
      <div class="row">

        <input type="password" name="password">
      </div>
      <div class="row button">
        <input type="submit" value="Login">
        <a th:href="@{/register}" class="new-user text-right">New User ?</a>
      </div>
    </form>
  </div>
</div>
</body>
</html>